<aside class="th-left-sidebar">
    <div class="th-sidebar-title">📐 Formula Bank</div>
    <ul class="th-left-nav">
        <li><a href="/learn/mathematics.html">Mathematics</a></li>
        <li><a href="/learn/chemistry-formulas/">Chemistry Formulas</a></li>
        <li><a href="/learn/physics.html">Physics Formulas</a></li>
    </ul>
    <div class="th-sidebar-title" style="margin-top: 25px;">⚡ Quick Tools</div>
    <ul class="th-left-nav">
        <li><a href="/learn/chemistry-formulas/periodic-table.html">Periodic Table</a></li>
    </ul>
</aside>
