<aside class="vyakaran-aside-navigation" aria-label="Vyakaran Navigation">
    <h2>व्याकरण अनुक्रमणिका</h2>
    <nav>
        <ul class="vyakaran-nav-list">
            <li><a class="{% if page.url == '/vyakaran-language.html' or page.url == '/vyakaran-language/' %}active{% endif %}" href="{{ '/vyakaran-language.html' | relative_url }}">भाषा और व्याकरण</a></li>
            <li><a class="{% if page.url contains 'phonology-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/phonology-in-hindi.html' | relative_url }}">वर्ण-विचार</a></li>
            <li><a class="{% if page.url contains 'morphology-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/morphology-in-hindi.html' | relative_url }}">शब्द-विचार</a></li>
            <li><a class="{% if page.url contains 'syntax-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/syntax-in-hindi.html' | relative_url }}">वाक्य-विचार</a></li>
            <li><a class="{% if page.url contains 'noun-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/noun-in-hindi.html' | relative_url }}">संज्ञा</a></li>
            <li><a class="{% if page.url contains 'number-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/number-in-hindi.html' | relative_url }}">वचन</a></li>
            <li><a class="{% if page.url contains 'gender-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/gender-in-hindi.html' | relative_url }}">लिंग</a></li>
            <li><a class="{% if page.url contains 'case-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/case-in-hindi.html' | relative_url }}">कारक</a></li>
            <li><a class="{% if page.url contains 'pronoun-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/pronoun-in-hindi.html' | relative_url }}">सर्वनाम</a></li>
            <li><a class="{% if page.url contains 'adjective-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/adjective-in-hindi.html' | relative_url }}">विशेषण</a></li>
            <li><a class="{% if page.url contains 'verb-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/verb-in-hindi.html' | relative_url }}">क्रिया</a></li>
            <li><a class="{% if page.url contains 'tense-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/tense-in-hindi.html' | relative_url }}">काल</a></li>
            <li><a class="{% if page.url contains 'indeclinable-words-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/indeclinable-words-in-hindi.html' | relative_url }}">अव्यय</a></li>
            <li><a class="{% if page.url contains 'particle-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/particle-in-hindi.html' | relative_url }}">निपात</a></li>
            <li><a class="{% if page.url contains 'voice-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/voice-in-hindi.html' | relative_url }}">वाच्य</a></li>
            <li><a class="{% if page.url contains 'person-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/person-in-hindi.html' | relative_url }}">पुरुष</a></li>
            <li><a class="{% if page.url contains 'punctuation-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/punctuation-in-hindi.html' | relative_url }}">विराम-चिन्ह</a></li>
            <li><a class="{% if page.url contains 'prefix-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/prefix-in-hindi.html' | relative_url }}">उपसर्ग</a></li>
            <li><a class="{% if page.url contains 'suffix-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/suffix-in-hindi.html' | relative_url }}">प्रत्यय</a></li>
            <li><a class="{% if page.url contains 'joining' %}active{% endif %}" href="{{ '/vyakaran/joining.html' | relative_url }}">संधि</a></li>
            <li><a class="{% if page.url contains 'compound-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/compound-in-hindi.html' | relative_url }}">समास</a></li>
            <li><a class="{% if page.url contains 'tatsam-tadbhav-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/tatsam-tadbhav-in-hindi.html' | relative_url }}">तत्सम-तद्भव</a></li>
            <li><a class="{% if page.url contains 'deshaj-videshaj-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/deshaj-videshaj-in-hindi.html' | relative_url }}">देशज-विदेशज</a></li>
            <li><a class="{% if page.url contains 'antonyms-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/antonyms-in-hindi.html' | relative_url }}">विलोम-शब्द</a></li>
            <li><a class="{% if page.url contains 'synonyms-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/synonyms-in-hindi.html' | relative_url }}">पर्यायवाची-शब्द</a></li>
            <li><a class="{% if page.url contains 'idioms-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/idioms-in-hindi.html' | relative_url }}">मुहावरे</a></li>
            <li><a class="{% if page.url contains 'proverbs-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/proverbs-in-hindi.html' | relative_url }}">लोकोक्तियाँ</a></li>
            <li><a class="{% if page.url contains 'one-word-substitution-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/one-word-substitution-in-hindi.html' | relative_url }}">अनेक शब्दों के लिए एक शब्द</a></li>
            <li><a class="{% if page.url contains 'words-of-many-meanings-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/words-of-many-meanings-in-hindi.html' | relative_url }}">एकार्थक शब्द</a></li>
            <li><a class="{% if page.url contains 'words-apparently-similar-in-meanings-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/words-apparently-similar-in-meanings-in-hindi.html' | relative_url }}">एकार्थक प्रतीत होने वाले शब्द</a></li>
            <li><a class="{% if page.url contains 'pairs-of-similar-words' %}active{% endif %}" href="{{ '/vyakaran/pairs-of-similar-words.html' | relative_url }}">श्रुतिसम भिन्नार्थक शब्द</a></li>
            <li><a class="{% if page.url contains 'yugm-shabd' %}active{% endif %}" href="{{ '/vyakaran/yugm-shabd.html' | relative_url }}">युग्म शब्द</a></li>
            <li><a class="{% if page.url contains 'ras-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/ras-in-hindi.html' | relative_url }}">रस</a></li>
            <li><a class="{% if page.url contains 'chhand-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/chhand-in-hindi.html' | relative_url }}">छन्द</a></li>
            <li><a class="{% if page.url contains 'alankar-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/alankar-in-hindi.html' | relative_url }}">अलंकार</a></li>
            <li><a class="{% if page.url contains 'paragraph-writing-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/paragraph-writing-in-hindi.html' | relative_url }}">अनुच्छेद-लेखन</a></li>
            <li><a class="{% if page.url contains 'unseen-passage-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/unseen-passage-in-hindi.html' | relative_url }}">अपठित-गद्यांश</a></li>
            <li><a class="{% if page.url contains 'letter-writing-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/letter-writing-in-hindi.html' | relative_url }}">पत्र-लेखन</a></li>
            <li><a class="{% if page.url contains 'essay-in-hindi' %}active{% endif %}" href="{{ '/vyakaran/essay-in-hindi.html' | relative_url }}">निबंध</a></li>
            <li><a class="{% if page.url contains 'quiz-for-exam' %}active{% endif %}" href="{{ '/vyakaran/quiz-for-exam.html' | relative_url }}">Quiz For Exam</a></li>
        </ul>
    </nav>
</aside>
