<nav id="mobile-nav" class="mobile-nav" role="navigation" aria-label="{% if page.lang == 'hi' %}मोबाइल नेविगेशन{% else %}Mobile navigation{% endif %}" aria-hidden="true">


{% if page.lang == "hi" %}
  <a href="{{ site.url }}/hi/learn/" class="navbar__link">Learn</a>
  <a href="{{ site.url }}/hi/gk-quiz/" class="navbar__link">GK Quiz</a>
  <a href="{{ site.url }}/hi/test/" class="navbar__link">Test</a>
  <a href="{{ site.url }}/hi/shield/" class="navbar__link">Shield</a>
  <a href="{{ site.url }}/tools/" class="navbar__link">Tools</a>
  <a href="{{ site.url }}/editor/" class="navbar__link">Editor</a>
  <a href="{{ site.url }}/store/" class="navbar__link">Store</a>
  <a href="{{ site.url }}/apps/" class="navbar__link">Apps</a>
  <a href="{{ site.url }}/hi/discover/" class="navbar__link">Discover</a>
{% else %}
    <a href="{{ site.url }}/learn/" class="mobile-nav__link">Learn</a>
    <a href="{{ site.url }}/gk-quiz/" class="mobile-nav__link">GK Quiz</a>
    <a href="{{ site.url }}/test/" class="mobile-nav__link">Test</a>
    <a href="{{ site.url }}/shield/" class="mobile-nav__link">Shield</a>
    <a href="{{ site.url }}/tools/" class="mobile-nav__link">Tools</a>
    <a href="{{ site.url }}/editor/" class="mobile-nav__link">Editor</a>
    <a href="{{ site.url }}/store/" class="mobile-nav__link">Store</a>
    <a href="{{ site.url }}/apps/" class="mobile-nav__link">Apps</a>
    <a href="{{ site.url }}/discover/" class="mobile-nav__link">Discover</a>
  {% endif %}

</nav>
