<nav class="gk-sidebar" id="gkSidebar">

  {% if page.lang == 'hi' %}

    {% for cat in page.categories_config.hindi %}
      <a href="{{ cat.url | relative_url }}"
         class="nav-item{% if page.category_id == cat.id %} active{% endif %}">
        {{ cat.title }}
      </a>
    {% endfor %}

  {% else %}

    {% for cat in page.categories_config.english %}
      <a href="{{ cat.url | relative_url }}"
         class="nav-item{% if page.category_id == cat.id %} active{% endif %}">
        {{ cat.title }}
      </a>
    {% endfor %}

  {% endif %}

</nav>
